//- 右侧热点推荐
div.wrap-module
  div.module-title 浏览最多
  ul
    - for (var x = 0; x < bestViewList.length; x++)
      if(bestViewList.length < 4)
        li.hot-item
          a(href=bestViewList[x].articlePath)
            div.hot-pic
              img(src=bestViewList[x].titleImg, alt=bestViewList[x].title)
            div.hot-article
              p=bestViewList[x].title
