//- 右侧精彩图片
div.wrap-module
  div.module-title 精彩图片
  ul.hotpic-list
    li.hotpic-item
      a(href="#")
        div.hotpic-imgwarp
          img(src="/news/img/55.jpeg", alt="")
          i.hotpic-tag
            span 3图
        p 大饭店散发个回复该行哈哈，大饭店
    li.hotpic-item
      a(href="#")
        div.hotpic-imgwarp
          img(src="/news/img/66.jpeg", alt="")
          i.hotpic-tag
            span 23图
        p 士大夫防寒服该行该法，法规和 
    li.hotpic-item
      a(href="#")
        div.hotpic-imgwarp
          img(src="/news/img/55.jpeg", alt="")
          i.hotpic-tag
            span 3图
        p 大饭店散发个回复该行哈哈，大饭店
    li.hotpic-item
      a(href="#")
        div.hotpic-imgwarp
          img(src="/news/img/66.jpeg", alt="")
          i.hotpic-tag
            span 13图
        p 士大夫防寒服该行该法，法规和 
    li.hotpic-item
      a(href="#")
        div.hotpic-imgwarp
          img(src="/news/img/55.jpeg", alt="")
          i.hotpic-tag
            span 3图
        p 大饭店散发个回复该行哈哈，大饭店
    div( style="clear:both;")  