//- 图片首页不带顶部面包屑
div(class="middle-box")
  div(class="middle-warp"  style="width:1200px")
    div.logo-box
      a(href="/" class="logo")
          img(src="/news/img/logo.png", alt="网站logo" style="width: 108px; height: 27px;")
    div.blog-search
      div.search-box
        div.search-wrap
          input(class="search-input" placeholder="请输入要搜索的内容" )
          input(type="button" class="search-btn" value="搜索") 
