//- 图片正文末尾相关推荐
div.related-img-box
  div.related-img-warp
    h3 相关推荐
    ul.sibling-list
      li.sibling-item
        a(href="#")
          div.related-img-wrap
            img(src="/news/img/14.jpeg", alt="14")
            i.related-tag
              span 6图
          div.related-img-title
            p.related-img-inner
              span 士大夫沙发上的士大夫，士发射的sdfsd ff sf士大夫散发
      li.sibling-item
        a(href="#")
          div.related-img-wrap
            img(src="/news/img/14.jpeg", alt="14")
            i.related-tag
              span 6图
          div.related-img-title
            p.related-img-inner
              span 士大夫沙发上的士大夫，士大夫士大夫，室发射的sdfsd ff sf士大夫散发
      li.sibling-item
        a(href="#")
          div.related-img-wrap
            img(src="/news/img/14.jpeg", alt="14")
            i.related-tag
              span 6图
          div.related-img-title
            p.related-img-inner
              span 士大夫沙发上的士大夫，士射的sdfsd ff sf士大夫散发
      li.sibling-item
        a(href="#")
          div.related-img-wrap
            img(src="/news/img/14.jpeg", alt="14")
            i.related-tag
              span 6图
          div.related-img-title
            p.related-img-inner
              span 士大夫沙发上的士大夫，士大夫士大夫，室发射的sdfsd ff sf士大夫散发
      li.sibling-item
        a(href="#")
          div.related-img-wrap
            img(src="/news/img/14.jpeg", alt="14")
            i.related-tag
              span 6图
          div.related-img-title
            p.related-img-inner
              span 士大夫沙发上的sdfsd ff sf士大夫散发
      li.sibling-item
        a(href="#")
          div.related-img-wrap
            img(src="/news/img/14.jpeg", alt="14")
            i.related-tag
              span 6图
          div.related-img-title
            p.related-img-inner
              span 士大夫沙发上的士大夫，士大夫士大夫，室发射的sdfsd ff sf士大夫散发
      li.sibling-item
        a(href="#")
          div.related-img-wrap
            img(src="/news/img/14.jpeg", alt="14")
            i.related-tag
              span 6图
          div.related-img-title
            p.related-img-inner
              span 士大夫沙发上的士大夫，发射的sdfsd ff sf士大夫散发