//- 首页友情链接
div.wrap-module
  div.module-title 友情链接
  ul.more-list
    li
      a(href="#") XXX网
    li
      a(href="#") YYYY网站
    li
      a(href="#") XXX网
    li
      a(href="#") ZZZ网视频
    li
      a(href="#") XXX网