//- 图片末尾相关推荐
div.imgfooter-related
  div.imgfooter-left
    h3 更多精彩
    ul
      li
        div.imgfooter-tit
          a(href="#") 大法官多个多个赛格大神，大法官大法官大法官 
        div.imgfooter-imgs
          a(href="#")
            img(src="/news/img/15.jpeg", alt="15")
          a(href="#")
            img(src="/news/img/15.jpeg", alt="15")
          a(href="#")
            img(src="/news/img/15.jpeg", alt="15")
          a(href="#")
            img(src="/news/img/15.jpeg", alt="15")
          i.imgfooter-tag
            span 11图                        
        div.imgfooter-footer
          a(href="#" class="imgfooter-type") 分类
          span &nbsp;⋅&nbsp;
          a(href="#") 作者
          span &nbsp;⋅&nbsp;          
          a(href="#") 浏览 3234
      li
        div.imgfooter-tit
          a(href="#") 大法官多个多个赛格大神，大法官大法官大法官 
        div.imgfooter-imgs
          a(href="#")
            img(src="/news/img/15.jpeg", alt="15")
          a(href="#")
            img(src="/news/img/15.jpeg", alt="15")
          a(href="#")
            img(src="/news/img/15.jpeg", alt="15")
          a(href="#")
            img(src="/news/img/15.jpeg", alt="15")
          i.imgfooter-tag
            span 11图                        
        div.imgfooter-footer
          a(href="#" class="imgfooter-type") 分类
          span &nbsp;⋅&nbsp;
          a(href="#") 作者
          span &nbsp;⋅&nbsp;          
          a(href="#") 浏览 3234
            