//- 首页网站更多功能
div.wrap-module
  div.module-title 更多
  ul.more-list
    li
      a(href="#") 关于我们
    li
      a(href="#") 关于我们
    li
      a(href="#") 关于我们
    li
      a(href="#") 关于我们
    li
      a(href="#") 关于我们
    li
      a(href="#") 关于我们