//- 搜索框
div.search-bar
  form(action="#" method="get")
    div.search-box
      div.search-left
        input(type="text")
      div.search-right   
        input(type="button" value="搜索")
           