//- 详情页分享链接
div(class="nav-box")
  div.nav-style
    div.share-coment
      a(href="http://v.t.sina.com.cn/share/share.php?title=你好 hello world" target="_blank")
        svg(class="icon" aria-hidden="true")
          use(xlink:href="#icon-pinglun")
        span 评论
    div.share-line
    div.share-type
      svg(class="icon" aria-hidden="true")
          use(xlink:href="#icon-weibo")
      span 微博
    div.share-type
      svg(class="icon" aria-hidden="true")
          use(xlink:href="#icon-QQzone-")
      span QQ空间
    div.share-type
      svg(class="icon weixin" aria-hidden="true")
          use(xlink:href="#icon-weixin")
      span 微信
        