div(class="subtype-box" style="max-width: 1200px;")
  ul(class="subtype-list")
    li.subtype-select
      a(href="#") 全部
    li.subtype-item
      a(href="#") 子类2
    li.subtype-item
      a(href="#") 子类3