extends ./layout.jade

block content
  div(class="container")
    div.row
      div.col-md-3
        a(href="#")
          h4(style="text-align: right;") 博客简介
        a(href="#")        
          h4(style="text-align: right;") 联系方式        
      div.col-md-9