footer
    script
      console.log('11111')
    //-   $(document).ready( function () {
    //-      if ($('.ui.success.message').length > 0) {
    //-        $('.ui.success.message').fadeOut(1000)
    //-      } else if ($('.ui.error.message').length > 0) {
    //-        $('.ui.error.message').fadeOut(1000)
    //-      }
    //-        $('.ui.dropdown').dropdown();
    //-        $('.post-content .avatar-link').popup({
    //-        inline: true,
    //-        position: 'bottom right',
    //-        lastResort: 'bottom right'
    //-      });
    //-   })
        
