doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css")
    script(src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    script(src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer
    include ./footer.jade