doctype html
html
  head
    title #{blog.title}-#{blog.description}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/js/init.js")    
    link(rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    nav(class="navbar navbar-default")
      div(class="container")
        div(class="navbar-header")
          a(class="navbar-left" style="margin:5px" href="#")
            img(alt="logo" src="/img/logo.png")
          div(class="input-group"  style="max-width: 200px;margin:11px 0 5px;")
            input(type="text" class="form-control" placeholder="搜索...")
            span(class="input-group-btn")
              button(class="btn btn-default" type="button") Go!
        ul(class="nav navbar-nav navbar-right")
          li(role="presentation" class="active") #[a(href="/index") 首页]
          li(role="presentation") #[a(href="/list") 文章]
          li(role="presentation") #[a(href="/contact") 联系方式]
          li(role="presentation") #[a(href="/signin") 登录/注册]
    block content
    div(class="container")
      h6 这是底部