extends ./layout.jade

block content
  div(class="container")
    div.row
      div.col-md-3
        h4 文章分类
        div.list-group 
          li(class="list-group-item disabled") 文章分类
          a(href="#") 
            li(class="list-group-item") linux
              span(class="badge") 9
          a(href="#") 
            li(class="list-group-item") Nodejs
              span(class="badge") 13
          a(href="#") 
            li(class="list-group-item") Express
              span(class="badge") 4
          a(href="#") 
            li(class="list-group-item") 个人感悟
              span(class="badge") 3
          a(href="#") 
            li(class="list-group-item") 开源项目
              span(class="badge") 1
          h4 归档
          div(class="panel-group" id="accordion" role="tablist" aria-multiselectable="true")
            div(class="panel panel-default")
              div(class="panel-heading" role="tab" id="headingOne")
                h4(class="panel-title")
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") 2015年
              div(id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne")
                div(class="panel-body")
                  table(class="table table-hover")
                    tr
                      td
                        a(href="#") 1月 (12)
                    tr
                      td 
                        a(href="#") 4月 (7)
                    tr
                      td 
                        a(href="#") 5月 (3)
                    tr
                      td 
                        a(href="#") 7月 (5) 
            div(class="panel panel-default")
              div(class="panel-heading" role="tab" id="headingTwo")
                h4(class="panel-title")
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") 2016年
              div(id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo")
                div(class="panel-body")
                  table(class="table table-hover")
                    tr
                      td
                        a(href="#") 1月 (12)
                    tr
                      td 
                        a(href="#") 4月 (7)
                    tr
                      td 
                        a(href="#") 5月 (3)
                    tr
                      td 
                        a(href="#") 7月 (5) 
            div(class="panel panel-default")
              div(class="panel-heading" role="tab" id="headingThree")
                h4(class="panel-title")
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree") 2017年
              div(id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree")
                div(class="panel-body")
                  table(class="table table-hover")
                    tr
                      td
                        a(href="#") 1月 (12)
                    tr
                      td 
                        a(href="#") 4月 (7)
                    tr
                      td 
                        a(href="#") 5月 (3)
                    tr
                      td 
                        a(href="#") 7月 (5) 
      div.col-md-9
        h4 全部文章
          table.table.table-condensed
            tr
              td
                a(href="#") 这是一篇文章的标题，就显示这么多字。这是一篇文章的标题
              td(style="font-size:14px;line-height:1.4;text-align: right;")
                span(title="评论数") (24 | 
                span(title="阅读数") 300)  
                span(title="发表时间")  2017年11月12日 14:25:26
            tr
              td
                a(href="#") 这是一篇文章的标题，就显示这么多字。as 
              td(style="font-size:14px;line-height:1.4;text-align: right;")
                span(title="评论数") (24 | 
                span(title="阅读数") 300)  
                span(title="发表时间")  2017年11月12日 14:25:26
            tr
              td
                a(href="#") 这是一篇文章的标题，就显示这么多字。sdfsdf
              td(style="font-size:14px;line-height:1.4;text-align: right;")
                span(title="评论数") (24 | 
                span(title="阅读数") 300)  
                span(title="发表时间")  2017年11月12日 14:25:26
            tr
              td
                a(href="#") 这是一篇文章的标题，就显示这么多字。sdf 
              td(style="font-size:14px;line-height:1.4;text-align: right;")
                span(title="评论数") (24 | 
                span(title="阅读数") 300)  
                span(title="发表时间")  2017年11月12日 14:25:26