extends ./layout.jade

block content
  div(class="container" style="max-width: 300px;")
    form(class="form-signin")
      h3(class="form-signin-heading") 请登录
        label(for="inputEmail" class="sr-only") 用户名
        input(type="text" id="inputEmail" class="form-control" placeholder="请输入用户名" required autofocus)
        label(for="inputPassword" class="sr-only") 密码
        input(type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required)
        div(class="checkbox")
          label(for="remember-me"  style="font-size:14px")
            input(type="checkbox" id="remember-me" value="remember-me") 
            |记住密码
        button(class="btn btn-lg btn-primary btn-block" type="submit") 登录
