div.carousel-box
  div.carousel-right
    ul#carousel-menu
      li.menu-focus 菜单1  
      li 菜单2
      li 菜单3
      li 菜单4
      li 菜单5
      li 菜单6
  div.carousel-left
    ul#carousel-img
      li.img-item.img-focus
        a(href="#")
          img(src="/toutiao/img/1.jpg", alt="111")
          p 这是一段标题。。。
      li.img-item
        a(href="#")
          img(src="/toutiao/img/2.jpg", alt="111")
          p 这是第二段标题。。。          
      li.img-item
        a(href="#")
          img(src="/toutiao/img/3.jpg", alt="111")
          p 这是第三段标题。。。          
      li.img-item
        a(href="#")
          img(src="/toutiao/img/1.jpg", alt="111")
          p 这是四段标题。。。
      li.img-item
        a(href="#")
          img(src="/toutiao/img/2.jpg", alt="111")
          p 这是第五段标题。。。          
      li.img-item
        a(href="#")
          img(src="/toutiao/img/3.jpg", alt="111")
          p 这是第六段标题。。