div.wrap-module
  div.module-title 浏览最多
  ul
    li.hot-item
      a(href="#")
        div.hot-pic
          img(src="/toutiao/img/33.jpeg", alt="")
        div.hot-article
          p 大法官大法官的地,fgdsggs都是发生的发射的 士
    li.hot-item
      a(href="#")
        div.hot-pic
          img(src="/toutiao/img/44.jpeg", alt="")
        div.hot-article
          p 来路开源土台哟陪伴你垃圾和，敢回家该行
    li.hot-item
      a(href="#")
        div.hot-pic
          img(src="/toutiao/img/33.jpeg", alt="")
        div.hot-article
          p 大法官大法官的地,fgdsggs都是发生的发射的 士
    li.hot-item
      a(href="#")
        div.hot-pic
          img(src="/toutiao/img/44.jpeg", alt="")
        div.hot-article
          p 来路开源土台哟陪伴你垃圾和，敢回家该行