div.list-box
  ul
    li
      div.list-content
        div.left-img
          a(class="link-warp" href="#")
            img(src="/toutiao/img/11.jpeg", alt="11")
        div.right-news
          div.right-article
            div.article-title
              a(href="#") 老人几年前儿子就走了，可他去世时，子就走了，可他去世时，
            div.article-footer
              a(href="#" class="article-type") 分类
              a(href="#" class="article-author") &nbsp;⋅  作者     
              a(href="#" class="article-time") &nbsp;⋅  2017-11-20 14:23:53                        
    li
      div.list-content
        div.left-img
          a(class="link-warp" href="#")
            img(src="/toutiao/img/22.jpeg", alt="11")
        div.right-news
          div.right-article
            div.article-title
              a(href="#") 大法官大法官开始发，收费方式士大夫个地方噶大法官， 地方
            div.article-footer
              a(href="#" class="article-type") 分类
              a(href="#" class="article-author") &nbsp;⋅  作者     
              a(href="#" class="article-time") &nbsp;⋅  2017-11-20 14:23:53
    li
      div.list-content
        div.left-img
          a(class="link-warp" href="#")
            img(src="/toutiao/img/11.jpeg", alt="11")
        div.right-news
          div.right-article
            div.article-title
              a(href="#") 老人几年前儿子就走了，可他去世时，子就走了，可他去世时，
            div.article-footer
              a(href="#" class="article-type") 分类
              a(href="#" class="article-author") &nbsp;⋅  作者     
              a(href="#" class="article-time") &nbsp;⋅  2017-11-20 14:23:53                        
    li
      div.list-content
        div.left-img
          a(class="link-warp" href="#")
            img(src="/toutiao/img/22.jpeg", alt="11")
        div.right-news
          div.right-article
            div.article-title
              a(href="#") 大法官大法官开始发，收费方式士大夫个地方噶大法官， 地方
            div.article-footer
              a(href="#" class="article-type") 分类
              a(href="#" class="article-author") &nbsp;⋅  作者     
              a(href="#" class="article-time") &nbsp;⋅  2017-11-20 14:23:53