div.middle-box
  div.middle-warp
    div.logo-box
      a(href="/" class="logo")
          img(src="/toutiao/img/logo.png", alt="网站logo" style="width: 108px; height: 27px;")
    div.bread-box
      a(href="#") 首页&nbsp;/&nbsp;
      a(href="#") 分类&nbsp;/&nbsp;
      span 正文
    div.blog-search
      div.search-box
        div.search-wrap
          input(class="search-input" placeholder="请输入要搜索的内容" )
          input(type="button" class="search-btn" value="搜索") 
