div(class="nav-box")
      div(class="nav-list")
        a(href="/" class="logo")
          img(src="/toutiao/img/logo.png", alt="网站logo" style="width: 108px; height: 27px;")
        ul(class="menu-list")
          li
            a(href="/" class="nav-item active-menu")
              span 菜单一
          li
            a(href="/" class="nav-item")
              span 菜单二
          li
            a(href="/" class="nav-item")
              span 菜单三 
          li
            a(href="/" class="nav-item")
              span 菜单四
          li
            a(href="/" class="nav-item")
              span 菜单五 