html {overflow-y:scroll;} 
body {margin:0; padding:0;
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #657180;
  background:#ffffff;} 
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;} 
table,td,tr,th{font-size:12px;} 
li{list-style-type:none;} 
img{vertical-align:top;border:0;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6{font-size:14px; font-weight:normal;} 
address,cite,code,em,th,span {font-weight:normal; font-style:normal;}
a{ 
  color: #222;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease;
}.middle-warp
a:link {color:#222;}      /* 未访问链接*/
a:visited {color:#999;}  /* 已访问链接 */
a:hover {color:#4777FF;}  /* 鼠标移动到链接上 */
a:active {color:#222;}  /* 鼠标点击时 */
/* 自定义图标 */
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/*头部 */
.index-header-continner{
  width: 100%;
  min-width: 1220px;
  height: 34px;
  margin:0; 
}
.index-header-nav{
  width: 100%;
  height: 34px;
  background-color: #272727;
  color: #fff;
  font-size: 14px;
  line-height: 34px;
}
.h-left{
  float: left;
}
.h-left>li>a{
  color: #fff;
  background: 0 0;
  background-color:transparent!important;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease;
}
.h-left>li{
  float: left;
  padding: 0 10px;
}
.weather{
  border-left: 1px solid #3a3a3a;
}
.h-right{
  float: right;
}
.h-right>li{
  float: right;
  padding: 0 10px;
}
.border-line{
  border-left: 1px solid #3a3a3a;
}
.h-right>li.login-button{
  padding: 0 20px;
  background-color: #4777FF;
}

/* 内容 */
.content-container {
  width: 1170px;
  margin: 0 auto;
  margin-top: 16px;
  min-height: 1500px;
}
/* 菜单 */
/* 固定在顶部 */
.fixed {
  position: fixed;
  top: 10px;
  z-index: 30;
}
.nav-box{
  width: 110px;
  height: 600px;
  margin-right: 30px;
  float: left;  
}
.nav-list{
  width: 110px;
}
.logo {
  display: block;
  width: 110px;
  height: 28px;
  margin-bottom: 16px;
}
.nav-item.active {
  background-color: #4777FF;
  color: #fff;
}

.nav-item:visited {
  color: #444;
}

.nav-item:hover{
  background-color: #4777FF;
  color: #fff;
}
.menu-list>li>a{
  display: block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #444;
  border-radius: 4px;
  margin-bottom: 2px;
  transition-property: color,background-color;
}
.nav-item.active-menu{
  background-color: #4777FF;
  color: #fff;
}
.nav-item>span {
  font-size: 16px;
  display: inline-block;
}
/* 文章 */
.article-content{
  width: 660px;
  float: left;
}
/* 轮播 */
.carousel-box{
  width: 660px;
  height: 300px;
  margin-bottom: 6px;  
}
.carousel-right{
  float: right;
  background-color: #272727;
  height: 300px;
  width: 60px;
  font-size: 14px;
  color: #fff
}
.carousel-right ul{
  padding: 7px 0;
}
.carousel-right li{
  cursor: pointer;
  display: inline-block;
  height: 36px;
  width: 60px;
  margin-bottom: 14px;
  line-height: 36px;
  text-align: center;
}
/* 添加轮播菜单右侧小箭头 */
.carousel-right .menu-focus {
  z-index: 2;
  background: #4777FF;
  position: relative;
}
.carousel-right .menu-focus:before {
  content: "";
  right: 100%;
  top: 13px;
  position: absolute;
  border-top: 5px solid transparent;
  border-right: 8px solid #4777FF;
  border-bottom: 5px solid transparent;
}  
.carousel-left{
  float: left;
  height: 300px;
  width: 600px;
  overflow: hidden;
  position: relative;
}
.img-item{
  z-index: 1;  
  position: absolute;
  top: 0;
  left: 0;  
  display: none;
}
.img-focus{
  display: inline-block;
}
.carousel-left p{
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
/* 消息ul列表 */
.list-content{
  height: 102px;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}
.list-content-noimg{
  height: 110px;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}
.list-content .left-img{
  width: 158px;
  height: 102px;
  margin-right: 16px;
  float: left;
  overflow: hidden;
  position: relative;
}
.link-warp{
  position: relative;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 1px solid #e8e8e8;
  background: #e8e8e8;
  overflow: hidden;
  transform-style: preserve-3d;
}
.link-warp>img{
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all .5s ease-out .1s;
}
.link-warp>img:hover{
  transform: scale(1.05); 
}
/* 浏览与点赞 */
.article-view{
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  bottom:10px;
  right: 10px;
}
.article-view>a{
  display: inline-block;
  width: 60px;
  color: #999;  
}
.article-view>a>svg{
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  color: #999;
  margin-right: 5px;
}
/* 垂直居中 */
.right-news{
  height: 100%;
  overflow: hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}
.right-article{
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.right-news .article-title{
  display: block;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 4px;
  font-weight: 300;
  max-height: 80px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right-news .article-footer{
  font-size: 12px;
  color: #999;
  margin-top: 10px;
  float: left;
}
.article-footer>.article-type{
  font-size: 12px;
  color: rgb(153, 153, 153);
  margin-right: 10px;
  padding: 1px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(153, 153, 153);
  border-image: initial;
}
.article-footer>.article-author{
  color: rgb(119, 119, 119);
  font-size: 14px;
}
.article-footer>.article-time{
  font-size: 14px;
  line-height: 1;
  color: rgb(153, 153, 153);
}
/* 侧边栏 */
.aside-content{
  width: 340px;
  float: right;
}
.search-box{
  width: 100%;
  margin-bottom: 16px;
}
/* 搜索框 */
.search-wrap{
  width: 100%;
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
}
.search-input{
  width: 240px;
  height: 36px;
  padding: 3px 10px;
  vertical-align:middle;
  border-radius: 3px 0 0 3px;
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  border-right: none;
}
.search-input:hover{
  border: 1px solid #4777FF;
  border-right: none;  
}
.search-btn{
  border-radius: 0 3px 3px 0;  
  width: 78px;
  height: 44px;
  background-color: #4777FF;
  border: none;
  padding: 0;
  margin: 0;
  color: #fff;
  vertical-align:middle;
  cursor: pointer;
}
/* 浏览最多 */
.wrap-module{
    width: 300px;
    border-top: 2px solid #4777FF;
    background-color: #f4f5f6;
    margin-bottom: 16px;
    padding: 15px 20px 20px;
    clear: both;
}
.module-title{
  color: #222;
  padding: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.hot-item{
  padding: 8px 0;
  border-bottom: 1px solid #e8e8e8;
}
.hot-pic{
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  display: inline-block;
  text-align: center;
  background: #e8e8e8;
  width: 60px;
  height: 60px;
  margin-right: 12px;
  float: left;
}
.hot-pic>img{
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all .5s ease-out .1s;
}
.hot-pic>img:hover{
  transform: scale(1.05); 
}
.hot-article{
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  width: 228px;
}
.hot-article p{
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 更多 */
.more-list{
  overflow: hidden;
  margin-right: -20px;
  margin-bottom: -20px;
}
.more-list li{
  float: left;
  margin: 0 20px 20px 0;
}
.more-list a{
  color: #777;
  line-height: 1.4;
  font-size: 14px;
}
/* 备案号 */
.website{
  padding: 8px 20px;
  background-color: #f4f5f6;
  line-height: 2;
  font-size: 14px;
  text-align: left;
}
/* 顶部导航中间 */
.middle-box{
  width: 100%;  
}
.middle-warp{
  width: 1170px;
  margin: 0 auto;
  height: 58px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.1);
  /*box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);*/
}
.logo-box{
  width: 110px;
  line-height: 58px;
  overflow: hidden;
  float: left;
  vertical-align: middle;
}
.logo-box img{
  width: 108px;
  height: 27px;
  vertical-align: middle;
}
.bread-box{
  font-size: 16px;
  margin-left: 20px;
  line-height: 58px;
  float: left;
}
.blog-search{
  float: right;
  margin-top: 7px;
}
/* 导航底部 更多按钮 */
.more-menu{
  position: relative;
  color: #444;
}
.more-menu:hover .more-layer{
  display: block;  
}
.more-layer{
  display: none;
  position: absolute;
  bottom: 0;
  left: 110px;
  width: 230px;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
  padding: 5px;
}
.more-layer a{
  float: left;
  display: block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #444;
  border-radius: 4px;
  margin-bottom: 2px;
  transition-property: color,background-color;
}
/* 详情页分享链接 */
.share-coment{
  margin-top: 20px;
  margin-bottom: 14px;
}
.share-coment>a{
  display: block;
  height: 34px;
  font-size: 16px;
}
.share-line{
  background: #e8e8e8;
  height: 1px;
}
.share-coment svg{
  display: inline-block;
  vertical-align: middle;  
  width: 34px;
  height: 34px;
  margin-right: 10px;
}
.share-type{
  margin-top: 14px;
  font-size: 16px;
  cursor: pointer;
}
.share-type svg{
  display: inline-block;
  vertical-align: middle;  
  width: 34px;
  height: 34px;
  margin-right: 10px;
}
.share-type .weixin{
  width: 36px;
  height: 36px;
}
/* 详情页正文 */
.article-box{
  min-height: 200px;
}
.article-box .article-title{
  display: block;
  font-size: 20px;
  color: #222;
  line-height: 1.3;
  margin-bottom: 4px;
  /* font-weight: 700; */
  max-height: 80px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-title .article-title-primary{
  display: block;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 6px;
  font-weight: 300;
  max-height: 47px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-title .article-summary{
  font-size: 12px;
  color: #666;
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", 微软雅黑;
  max-height: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-box .article-sub{
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 13px;
}
.article-sub>.article-type{
  display: inline-block;
  padding: 2px;
  border: 1px solid #999;
  line-height: 12px;
  color: #777;  
  margin-right: 5px;  
}
.article-sub>.article-author{
  color: #777;
  margin-right: 5px;
}
.article-sub>.article-time{
  color: #777;
  margin-right: 5px;
}
.article-box .article-content{
  font-size: 16px;
  line-height: 28px;
  color: #222;
  word-wrap: break-word;
  margin-bottom: 24px;
}
.article-box .article-content p{
  margin: 16px 0;
}
.img-caption{
  text-align: center;
  font-size: 12px;
  color: #777;
  line-height: 16px;
  margin-top: 0;
}
.article-box .article-content img{ 
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
/* 详情页顶部导航更多 */
.dropdown-more{
  position: relative;
  color: #444;
}
.dropdown-more:hover .dropdown-menu{
  display: block;  
}
.dropdown-menu{
  display: none; 
  margin: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 0;
  z-index: 10;
  position: absolute;
  top: 34px;
  left: 0;
  min-width: 100px;
}
.dropdown-menu>ul>.dropdown-item{
  text-align: center;
  list-style: none;
  line-height: 42px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
}
.dropdown-menu>ul>.dropdown-item a{
  color: #999;
}
/* 正文尾部标签 */
.article-box .article-tag{
  margin-bottom: 28px;
}
.article-tag>svg{
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
}
.article-tag>.footer-tag-list{
  display: inline-block;
  vertical-align: middle;
}
.footer-tag-list li{
  float: left;
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
}
.footer-tag-list li:before{
  content: "/";
  padding-right: 10px;
  color: #e0e0e0;
}
.footer-tag-list a{
  color: #406599;
}
/* 相关推荐 */
.related-box{
  display: block;
}
.related-title{
  position: relative;
  font-size: 18px;
  color: #222;
  line-height: 18px;
  padding-left: 16px;
  margin-bottom: 6px;
  font-weight: 700;
}
.related-title>a{
  font-size: 16px;
  color: #406599;
  font-weight: 300;
}
.related-title:before{
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 4px;
  height: 18px;
  background: #4777FF;
  border-radius: 4px;
}
.related-warp{
  position: relative;
}
/* 精彩图片 */
.hotpic-list{
  margin-right: -12px;
  margin-bottom: -16px;
}
.hotpic-list>.hotpic-item{
  margin-right: 12px;
  margin-bottom: 16px;
  width: 144px;
  float: left;
}
.hotpic-item .hotpic-imgwarp{
  position: relative;
  width: 144px;
  height: 84px;
  overflow: hidden;
  transform-style: preserve-3d;
  display: inline-block;
  text-align: center;
  background: #e8e8e8;
}
.hotpic-imgwarp>img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all .3s ease-out .1s;
  /* transform: matrix(1.05,0,0,1.05,0,0); */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hotpic-imgwarp>img:hover{
  transform: scale(1.05); 
}
.hotpic-imgwarp .hotpic-tag{
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 0 6px;
  border-radius: 10px;
  background: #000;
  filter: alpha(opacity=70);
  background: rgba(0,0,0,.7);
}
.hotpic-tag span{
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  font-style: normal;
}

/* 其他子类目 */
.subtype-box{
  height: 38px;
  width: 100%;
  z-index: 3;
  margin-bottom: 2px;
}
.subtype-list{
  top: -50px;
  background: #fff;
  height: 38px;
  border-bottom: 2px solid #f2f2f2;
}
.subtype-list li{ 
  margin-right: 33px;
  line-height: 38px;
  font-size: 16px;
  display: inline-block;
  color: #444;
  background: #fff;
}
.subtype-select{
  border-bottom: 2px solid #4777FF;
}
/* 固定子菜单 */
.sub-fixed{
  position: fixed;
  top: 0;
  z-index: 30;
  max-width: 660px;
  text-align: center;
}

/* 图片首页图片样式 */
.images-box{
   padding: 0;
   margin: 0;
}
.images-warp{
  margin: 20px auto;
}
.images-warp>.image-list{
  margin-right: -28px;
  overflow: hidden;
}
.image-list>.image-item{
  float: left;
  width: 279px;
  height: 204px;
  margin-right: 28px;
  margin-bottom: 46px;
}
.image-item>a>.images-img{
  position: relative;
  width: 100%;
  height: 160px;
}
.images-img>span{
  position: absolute;
  right: 8px;
  bottom: 7px;
  padding: 0 6px;
  height: 20px;
  background: #000;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  color: #fafafa;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
 }
.warp-img{
  background-color: #efefef;
}
.warp-img>img{
  width: 100%;
  height: 100%;
}
/* 一张大图 */
.image-item .img-large {
  width: 279px;
  height: 160px;
}
.image-item .img-middle{
  width: 160px;
  height: 160px;
}
.image-item .img-small{
  width: 117px;
  height: 79px;
  margin-bottom: 2px;
}
.image-item .left-img{
  float: left;
}
.image-item .right-img{
  float: right;
}
.images-info{
  padding-top: 12px;
}
.images-info>.info{
  font-size: 14px;
  color: #444;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}
.images-info>.extra{
  padding-top: 10px;
  color: #999;
}
/* 加载更多 */
.click-more{
  cursor: pointer;
  width: 190px;
  height: 30px;
  line-height: 30px;
  margin: 20px auto;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #d8d8d8;
  border-radius: 4px;
}

/* 图片详情 */
.gallery-box{

}
.gallery{
  min-width: 1000px;
  max-width: 1200px;
  height: 600px;
  width: 1139px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.image-box{
  height: 100%;
  line-height: 598px;
  text-align: center;
  box-sizing: border-box;
  cursor: default;
  overflow: hidden;
  width: 797px;
  position: relative;
  float: left;  
}
.img-list{
  margin-left: 0px;
}
.img-item{
  width: 797px;
  display: inline-block;
  vertical-align: middle;
}
.img-item .image-inner{
  width: 797px;
  height: 598px;
  position: relative;
}
.img-item>.origin-img{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: rgba(0,0,0,.5);
  z-index: 10;
  overflow: hidden;
  color:#fff;
  font-size: 16px;
}
.image-inner img{
  display: inline-block;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.imageinfo-box{
  position: relative;
  width: 340px;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  float: right;
}
.img-info-inner{
  padding: 10px 15px;
}
.img-title{
  font-size: 20px;
  color: #222;
  line-height: 30px;
  font-weight: 700;
}
.img-title>span{
  position: relative;
  top: -1px;
  display: inline-block;
  width: 36px;
  height: 22px;
  margin-right: 8px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: 400;
  border: 1px solid #999;
  box-sizing: border-box;
}
.img-abstract{
  font-size: 16px;
  color: #222;
  line-height: 24px;
  max-height: 350px;
  overflow: auto;
}
.img-abs-index{
  font-family: Georgia;
  font-size: 18px;
  color: #101010;
  line-height: 36px;
  margin-right: 10px;
}
.img-abs-index>em{
  font-size: 36px;
  color: #4777FF;
}
.img-tag{
  margin-top: 14px;
  display: inline-block;
  font-size: 0;
}
.img-tag li{
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #406599;
}
.img-tag>.first-img-tag{
  width: 21px;
  height: 21px;
  margin: 0;
  background: url("/news/img/tag.png") no-repeat center;
}
.img-tag li:before{
  content: "/";
  padding-right: 10px;
  color: #e0e0e0;
}
.img-tag a{
  display: inline-block;
  color: #406599;
}
.img-info-share{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;  
}
.img-orgin{
  font-size: 14px;
  color: #999;
  padding: 10px 15px;
}
.share-pic{
  border-top: 1px solid #ddd;
  height: 48px;
  box-sizing: border-box;
  padding-left: 15px;
  font-size: 0;
  line-height: 47px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}
.share-pic span{
  font-size: 14px;
  color: #999;
  vertical-align: middle;
  display: inline-block;
  margin-right: 15px;
  line-height: 1;
}
.share-pic span i{
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.share-pic span>.qqzone{
  background: url("/news/img/qq.png") no-repeat center;
  background-size:100% 100%; 
}
.share-pic span>.weibo{
  background: url("/news/img/sina.png") no-repeat center;
  background-size:100% 100%; 
}
.share-pic span>.weichat{
  background: url("/news/img/weichat.png") no-repeat center;
  background-size:100% 100%;   
}
/* 图片详情页相关推荐 */
.related-img-box{
  margin-top: 30px;
  width: 100%;
  height: 210px;
  background: #f4f5f6;
  overflow: hidden;
}
.related-img-warp{
  width: 100%;;
  margin: 0 auto;
  min-width: 1000px;
  padding: 20px 0px;
  box-sizing: content-box;
}
.related-img-warp>h3{
  position: relative;
  font-size: 18px;
  color: #222;
  line-height: 18px;
  padding-left: 8px;
  margin-bottom: 14px;
  font-weight: 700;
}
.related-img-warp>h3:before{
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 4px;
  height: 18px;
  background: #4777FF;
  border-radius: 4px;
}
.sibling-list{
  display: block;
  zoom: 1;
}
.sibling-list>.sibling-item:first-child{
  margin-left: 0;
}
.sibling-item{
  width: 158px;
  float: left;
  margin-left: 10px;
}
.related-img-wrap{
  position: relative;
  width: 100%;
  height: 88px;
  transform-style: preserve-3d;
  overflow: hidden;
}
.related-img-wrap img{
  width: 100%;
  height: 100%;
  transition: all .5s ease-out .1s;
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.related-img-wrap img:hover{
  transform: scale(1.05); 
}
.related-tag{
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 0 6px;
  border-radius: 10px;
  background: #000;
  filter: alpha(opacity=70);
  background: rgba(0,0,0,.7);
}
.related-tag span{
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}
.related-img-title{
  display: table;
  margin-top: 8px;
  font-size: 14px;
}
.related-img-inner{
  display: table-cell;
  vertical-align: top;
  height: 40px;
}
.related-img-inner span{
  line-height: 20px;
  max-height: 40px;
  color: #222;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 图片末尾更多推荐 */
.imgfooter-related{
  width: 1000px;
  margin: 0 auto;
}
.imgfooter-left{
  float: left;
  width: 660px;
}
.imgfooter-left>h3{
  position: relative;
  font-size: 18px;
  color: #222;
  line-height: 18px;
  padding-left: 8px;
  margin-bottom: 14px;
  font-weight: 700;
}
.imgfooter-left>h3:before{
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 4px;
  height: 18px;
  background: #4777FF;
  border-radius: 4px;
}
.imgfooter-tit{
  box-sizing: border-box;
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}
.imgfooter-tit>a{
  display: block;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 4px;
  font-weight: 700;
  max-height: 52px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imgfooter-imgs{
  box-sizing: border-box;
  position: relative;
  margin: 0;
  overflow: hidden;  
}
.imgfooter-imgs a{
  float: left;
  overflow:hidden;
  width: 158px;
  height: 102px;
  margin-left: 9px;
}
.imgfooter-imgs a:first-child{
  margin-left: 0;
}
.imgfooter-imgs a>img{
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all .5s ease-out .1s;
}
.imgfooter-imgs a>img:hover{
  transform: scale(1.05); 
}
.imgfooter-tag{
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 0 6px;
  border-radius: 10px;
  background: #000;
  background: rgba(0,0,0,.7);
  font-style: normal;
  font-size: 12px;
  color: #fff;
  height: 22px;
  line-height: 22px;
}
.imgfooter-footer{
  box-sizing: border-box;
  font-size: 12px;
  color: #999;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
}
.imgfooter-footer a{
  color: #777;
  font-size: 14px;
}
.imgfooter-type{
  position: relative;
  top: -1px;
  display: inline-block;
  width: 36px;
  height: 18px;
  margin-right: 8px;
  line-height: 15px;
  text-align: center;
  color: #999;
  font-weight: 400;
  border: 1px solid #999;
  box-sizing: border-box;
}
/* 搜索框 */
.search-bar{
  display: block;
}
.search-box{
  display: block;
}
.search-left{
  width: 580px;
  height: 40px;
  padding: 0 16px;
  background-color: #fff;
  border: 1px solid #4777FF;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  display: inline-block;
}
.search-left>input{
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  background-color: #fff;
  padding: 11px 0;
  color: #222;
}
.search-right{
  float: right;
}
.search-right>input{
  outline: 0;
  border: 0;
  width: 80px;
  background: #4777FF;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 0 4px 4px 0;
}


