extends ./index_layout.jade

block content
  div.row
    div.col-xs-3.sidebar
      ul.nav-left
        li
          a(href="overview.html") 
            i(class="glyphicon glyphicon-globe" aria-hidden="true")
            |预览
        li 
          a(href="section.html") 
            i(class="glyphicon glyphicon-indent-right" aria-hidden="true")
            |栏目管理
        li
          a(href="pusharticle.html") 
            i(class="glyphicon glyphicon-pencil" aria-hidden="true")
            |发表文章
        li
          a(href="articlemanage.html") 
            i(class="glyphicon glyphicon-list-alt" aria-hidden="true")
            |文章管理
        li.active
          a(href="pushpicture.html") 
            i(class="glyphicon glyphicon-picture" aria-hidden="true")
            |发表图片
        li
          a(href="picturemanage.html") 
            i(class="glyphicon glyphicon-folder-open" aria-hidden="true")
            |图片管理    
    div.col-xs-9
      h1 发表图片