extends ./image_index_layout.jade

block content
  div(class="content-container" style="width:1200px")
    include ./components/subtype-img.jade
    div.images-box
      div.images-warp
        ul.image-list
          li.image-item
            a(href="#")
              div.images-img
                span 9图
                div.warp-img.img-large
                  img(src="/news/img/77.jpeg", alt="33")
              div.images-info
                p.info 图片介绍，文字信息士士大夫室，大法官发大夫
                p.extra
                  span 分类&nbsp;⋅&nbsp;
                  span 作者&nbsp;⋅&nbsp;
                  span 234次浏览
          li.image-item
            a(href="#")
              div.images-img
                span 9图
                div
                  div.warp-img.left-img.img-middle
                    img(src="/news/img/88.jpeg", alt="33")
                  div.warp-img.right-img.img-small
                    img(src="/news/img/99.jpeg", alt="33")
                  div.warp-img.right-img.img-small
                    img(src="/news/img/10.jpeg", alt="33")
              div.images-info
                p.info 图片介绍，文字信息士大士大夫商店 ，发发商店阿三打的夫
                p.extra
                  span 分类&nbsp;⋅&nbsp;
                  span 作者&nbsp;⋅&nbsp;
                  span 234次浏览
          li.image-item
            a(href="#")
              div.images-img
                span 9图
                div.warp-img.img-large
                  img(src="/news/img/77.jpeg", alt="33")
              div.images-info
                p.info 图片介绍，文字信息士士大夫室，大法官发大夫
                p.extra
                  span 分类&nbsp;⋅&nbsp;
                  span 作者&nbsp;⋅&nbsp;
                  span 234次浏览
          li.image-item
            a(href="#")
              div.images-img
                span 9图
                div
                  div.warp-img.left-img.img-middle
                    img(src="/news/img/88.jpeg", alt="33")
                  div.warp-img.right-img.img-small
                    img(src="/news/img/99.jpeg", alt="33")
                  div.warp-img.right-img.img-small
                    img(src="/news/img/10.jpeg", alt="33")
              div.images-info
                p.info 图片介绍，文字信息士大士大夫商店 ，发发商店阿三打的夫
                p.extra
                  span 分类&nbsp;⋅&nbsp;
                  span 作者&nbsp;⋅&nbsp;
                  span 234次浏览
          li.image-item
            a(href="#")
              div.images-img
                span 9图
                div
                  div.warp-img.left-img.img-middle
                    img(src="/news/img/88.jpeg", alt="33")
                  div.warp-img.right-img.img-small
                    img(src="/news/img/99.jpeg", alt="33")
                  div.warp-img.right-img.img-small
                    img(src="/news/img/10.jpeg", alt="33")
              div.images-info
                p.info 图片介绍，文字信息士大士大夫商店 ，发发商店阿三打的夫
                p.extra
                  span 分类&nbsp;⋅&nbsp;
                  span 作者&nbsp;⋅&nbsp;
                  span 234次浏览
          li.image-item
            a(href="#")
              div.images-img
                span 9图
                div.warp-img.img-large
                  img(src="/news/img/77.jpeg", alt="33")
              div.images-info
                p.info 图片介绍，文字信息士士大夫室，大法官发大夫
                p.extra
                  span 分类&nbsp;⋅&nbsp;
                  span 作者&nbsp;⋅&nbsp;
                  span 234次浏览
          li.image-item
            a(href="#")
              div.images-img
                span 9图
                div
                  div.warp-img.left-img.img-middle
                    img(src="/news/img/88.jpeg", alt="33")
                  div.warp-img.right-img.img-small
                    img(src="/news/img/99.jpeg", alt="33")
                  div.warp-img.right-img.img-small
                    img(src="/news/img/10.jpeg", alt="33")
              div.images-info
                p.info 图片介绍，文字信息士大士大夫商店 ，发发商店阿三打的夫
                p.extra
                  span 分类&nbsp;⋅&nbsp;
                  span 作者&nbsp;⋅&nbsp;
                  span 234次浏览         
    div.images-more
      include ./components/clickmore.jade