doctype html
html
  head
    title=title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="/favicon.png")
    link(rel="stylesheet", href="/news/css/index.css")
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="/news/js/init.js")
    script(src="/news/js/iconfont.js")
  body
    header
      div(class="index-header-continner")
        div(class="index-header-nav")
          ul(class="h-left")
            li 下载APP
            li.weather 天气 18度           
          ul(class="h-right")
            li.border-line 其他板块
            li.border-line 侵权投诉
            li 反馈
            li.login-button 登录
    block content
    