extends ./news_layout.jade

block content
  div(class="content-container")   
    include ./components/share.jade    
    div(class="article-content")
      include ./components/article.jade        
      include ./components/related.jade
    div(class="aside-content")      
      include ./components/hot.jade
      include ./components/hotpictrue.jade      
      
      