doctype html
html
  head
    title='爱脚本 - '+article.title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href="/news/css/index.css")
    //- link(rel="stylesheet", href="/news/css/codeThemes/Okaidia.css",id="code-themes")    
    link(rel="stylesheet", href="/news/css/codeThemes/coy.css",id="code-themes")    
    link(rel="stylesheet", href="/news/css/line-number.css")            
    link(rel="shortcut icon" href="/favicon.png")
    script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    script(src="/news/js/init.js")
    script(src="/news/js/iconfont.js")
    script(src="/news/js/prism.js")
    script(src="/news/js/line-number.js")    
  body
    header
      div(class="index-header-continner")
        div(class="index-header-nav")
          ul(class="h-left")
            - for (var x = 0; x < nav.length; x++)
              if x < 14
                li
                  a(href='/'+nav[x].path)=nav[x].label
              else if x === 14
                li.dropdown-more
                  a(class="nav-item") 更多&nbsp;
                    svg(class="icon" aria-hidden="true")
                      use(xlink:href="#icon-arrow-bottom")
                  div.dropdown-menu
                    ul
                      - for (var x = 0; x < nav.length; x++)
                        if x > 13
                          li.dropdown-item
                            a(href='/'+nav[x].path)=nav[x].label
          ul(class="h-right")
            li.border-line 其他板块
            li.border-line 侵权投诉
            li 反馈
            li.login-button 登录
      include ./components/middle.jade 
    block content
    