html {overflow-y:scroll;} 
body {margin:0; padding:0;
  font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #657180;
  background:#ffffff;} 
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;} 
table,td,tr,th{font-size:12px;} 
li{list-style-type:none;} 
img{vertical-align:top;border:0;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6{font-size:14px; font-weight:normal;} 
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a{ 
  color: #222;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease;
}



/*头部 */
.index-header-continner{
  width: 100%;
  min-width: 1220px;
  height: 34px;
  margin:0; 
}
.index-header-nav{
  width: 100%;
  height: 34px;
  background-color: #272727;
  color: #fff;
  font-size: 14px;
  line-height: 34px;
}
.h-left{
  float: left;
}
.h-left a{
  color: #fff;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease;
}
.h-left li{
  float: left;
  padding: 0 10px;
}
.weather{
  border-left: 1px solid #3a3a3a;
}
.h-right{
  float: right;
}
.h-right li{
  float: right;
  padding: 0 10px;
}
.border-line{
  border-left: 1px solid #3a3a3a;
}
.h-right li.login-button{
  padding: 0 20px;
  background-color: #4777FF;
}

/* 内容 */
.content-container {
  width: 1170px;
  margin: 0 auto;
  margin-top: 16px;
  min-height: 1500px;
}
/* 菜单 */
.nav-box{
  width: 110px;
  height: 600px;
  margin-right: 30px;
  float: left;  
}
.nav-list{
  width: 110px;
}
.logo {
  display: block;
  width: 110px;
  height: 28px;
  margin-bottom: 16px;
}
.nav-item.active {
  background-color: #4777FF;
  color: #fff;
}

.nav-item:visited {
  color: #444;
}

.nav-item:link{}
.nav-item:visited{}
.nav-item:hover{
  background-color: #4777FF;
  color: #fff;
}
.nav-item:active{}
.menu-list a{
  display: block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #444;
  border-radius: 4px;
  margin-bottom: 2px;
  transition-property: color,background-color;
}
.nav-item.active-menu{
  background-color: #4777FF;
  color: #fff;
}
.nav-item span {
  font-size: 16px;
  display: inline-block;
}
/* 文章 */
.article-content{
  width: 660px;
  float: left;
}
/* 轮播 */
.carousel-box{
  width: 660px;
  height: 300px;
  margin-bottom: 6px;  
}
.carousel-right{
  float: right;
  background-color: #272727;
  height: 300px;
  width: 60px;
  font-size: 14px;
  color: #fff
}
.carousel-right ul{
  padding: 7px 0;
}
.carousel-right li{
  cursor: pointer;
  display: inline-block;
  height: 36px;
  width: 60px;
  margin-bottom: 14px;
  line-height: 36px;
  text-align: center;
}
/* 添加轮播菜单右侧小箭头 */
.carousel-right .menu-focus {
  z-index: 2;
  background: #4777FF;
  position: relative;
}
.carousel-right .menu-focus:before {
  content: "";
  right: 100%;
  top: 13px;
  position: absolute;
  border-top: 5px solid transparent;
  border-right: 8px solid #4777FF;
  border-bottom: 5px solid transparent;
}  
.carousel-left{
  float: left;
  height: 300px;
  width: 600px;
  overflow: hidden;
  position: relative;
}
.img-item{
  z-index: 1;  
  position: absolute;
  top: 0;
  left: 0;  
  display: none;
}
.img-focus{
  display: inline-block;
}
.carousel-left p{
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
/* 消息ul列表 */
.list-content{
  height: 102px;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}
.left-img{
  width: 158px;
  height: 102px;
  margin-right: 16px;
  float: left;
  overflow: hidden;
}
.link-warp{
  position: relative;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 1px solid #e8e8e8;
  background: #e8e8e8;
  overflow: hidden;
  transform-style: preserve-3d;
}
.link-warp>img{
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all .5s ease-out .1s;
}
.link-warp>img:hover{
  transform: scale(1.05); 
}
/* 垂直居中 */
.right-news{
  height: 100%;
  overflow: hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}
.right-article{
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.article-title{
  display: block;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 4px;
  font-weight: 700;
  max-height: 52px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-footer{
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}
.article-footer>.article-type{
  font-size: 12px;
  color: rgb(153, 153, 153);
  margin-right: 10px;
  padding: 1px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(153, 153, 153);
  border-image: initial;
}
.article-footer>.article-author{
  color: rgb(119, 119, 119);
  font-size: 14px;
}
.article-footer>.article-time{
  font-size: 14px;
  line-height: 1;
  color: rgb(153, 153, 153);
}

/* 侧边栏 */
.aside-content{
  width: 340px;
  float: right;
}
.search-box{
  width: 100%;
  margin-bottom: 16px;
}
/* 搜索框 */
.search-wrap{
  width: 100%;
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
}
.search-input{
  width: 240px;
  height: 36px;
  padding: 3px 10px;
  vertical-align:middle;
  border-radius: 3px 0 0 3px;
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  border-right: none;
}
.search-input:hover{
  border: 1px solid #4777FF;
  border-right: none;  
}
.search-btn{
  border-radius: 0 3px 3px 0;  
  width: 78px;
  height: 44px;
  background-color: #4777FF;
  border: none;
  padding: 0;
  margin: 0;
  color: #fff;
  vertical-align:middle;
  cursor: pointer;
}
/* 浏览最多 */
.wrap-module{
    width: 300px;
    border-top: 2px solid #4777FF;
    background-color: #f4f5f6;
    margin-bottom: 16px;
    padding: 15px 20px 20px;
}
.module-title{
  color: #222;
  padding: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.hot-item{
  padding: 8px 0;
  border-bottom: 1px solid #e8e8e8;
}
.hot-pic{
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  display: inline-block;
  text-align: center;
  background: #e8e8e8;
  width: 60px;
  height: 60px;
  margin-right: 12px;
  float: left;
}
.hot-pic>img{
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all .5s ease-out .1s;
}
.hot-pic>img:hover{
  transform: scale(1.05); 
}
.hot-article{
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  width: 228px;
}
.hot-article p{
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 更多 */
.more-list{
  overflow: hidden;
  margin-right: -20px;
  margin-bottom: -20px;
}
.more-list li{
  float: left;
  margin: 0 20px 20px 0;
}
.more-list a{
  color: #777;
  line-height: 1.4;
  font-size: 14px;
}
/* 备案号 */
.website{
  padding: 8px 20px;
  background-color: #f4f5f6;
  line-height: 2;
  font-size: 14px;
  text-align: left;
}

/* 顶部导航中间 */
.middle-box{
  width: 100%;  
}
.middle-warp{
  width: 1170px;
  margin: 0 auto;
  height: 58px;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
}
.logo-box{
  width: 110px;
  line-height: 58px;
  overflow: hidden;
  float: left;
  vertical-align: middle;
}
.logo-box img{
  width: 108px;
  height: 27px;
  vertical-align: middle;
}
.bread-box{
  font-size: 16px;
  margin-left: 20px;
  line-height: 58px;
  float: left;
}
.blog-search{
  float: right;
  margin-top: 7px;
}